    @model List<Product>
    
    @{
        ViewBag.Title = "Список всех продуктов";
        Layout = "_Layout";
    }
    
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <h2>
            <!-- Trigger button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                Добавить товар
            </button>
        </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Готов к продаже?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Price</td>
                    @if (product.ReadyToSale)
                    {
                        <td class="text-success">Да</td>
                    }
                    else
                    {
                        <td class="text-danger">Нет</td>
                    }
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Details", "Product", new { id = product.Id })">Подробнее</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <!-- Create modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Добавить новый продукт</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>  
                <div class="modal-body">
                    <form id="addForm" asp-action="Create" method="post">
                        
                        <div class="form-group">
                            <label>Название продукта</label>
                            <input type="text" class="form-control" name="Name">
                            <span data-valmsg-for="Name" class="text-danger"></span>
                        </div>
    
                        <div class="form-group">
                            <label>Описание</label>
                            <input type="text" class="form-control" name="Description">
                            <span data-valmsg-for="Description" class="text-danger"></span>
                        </div>
    
                        <div class="form-group">
                            <label for="CategoryId">Категория продукта</label>
                            <select id="categorySelect" class="form-control" name="CategoryId"></select>
                        </div>
    
                        <div class="form-group">
                            <label>Цена</label>
                            <input type="text" class="form-control" name="Price">
                            <span data-valmsg-for="Price" class="text-danger"></span>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button id="saveChangesButton" type="submit" class="btn btn-primary mt-1">Создать</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(function() {
                $.ajax({
                    url: '@Url.Action("GetLeafCategoriesJson", "Category")',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data)
                        var select = $('#categorySelect');
                        select.empty();
                        $.each(data, function(index, category) {
                            select.append($('<option></option>').val(category.id).text(category.name));
                        });
                    }
                });
            });
        </script>
    }